// ==
// Grid sistem
// ==

.-cont
	max-width grid-container-max-width
	margin 0 auto
	margin-right auto
	margin-left auto
	padding-left 15px
	padding-right 15px

.-row
	margin-left -margin-base
	margin-right -margin-base

	&:before
	&:after
		content " "
		display table

	&:after
		clear both

media-row(breakpoint)

	if lookup('row-margin-' + breakpoint) is not null

		for row-margin in lookup('row-margin-' + breakpoint)

			.-row_m-{breakpoint}-{row-margin}
				margin-left -(row-margin)
				margin-right -(row-margin)

				[class^="-col-"]
				[class*=" -col-"]
					padding-left row-margin
					padding-right row-margin

[class^="-col-"]
[class*=" -col-"]
	float left
	position relative
	min-height 1px
	padding-left margin-base
	padding-right margin-base
	width 100%

get_from_prev_breakpoint(var, breakpoint)
	prev-breakpoint = lookup('prev-breakpoint-' + breakpoint)
	if lookup(var + '-' + breakpoint) is not null
		lookup(var + '-' + breakpoint)
	else if lookup(var + '-' + prev-breakpoint) == 0
		if lookup(var) is not null
			lookup(var)
		else
			null
	else if lookup(var + '-' +prev-breakpoint) is not null
		lookup(var + '-' +prev-breakpoint)
	else
		get_from_prev_breakpoint(var, prev-breakpoint)

for breakpoint in grid-breakpoints
	
	media-condition = '(min-width: %spx)' % breakpoint

	@media media-condition

		for col in grid-cols

			.-col-{breakpoint}-{col}
				
				width (100 / (grid-max-cols / col)) %

		media-font(breakpoint)

		media-margin-base(breakpoint)

		media-row(breakpoint)