// ==
// General base
// ==

border-radius-base = 0
margin-base = 30px
font-margin-rest = 10px

// change margin-base in each grid breakpoint
margin-base-900 = 60px

// change font-margin-rest in each grid breakpoint
font-margin-rest-900 = 10px

// ==
// Grid sistem
// ==

grid-container-max-width = 1200px // Includes padding

// need to put de prev-breakpoint for each breakpoint
grid-breakpoints = 300 600 900 1200 1500
prev-breakpoint-300 = 0
prev-breakpoint-600 = 300
prev-breakpoint-900 = 600
prev-breakpoint-1200 = 900
prev-breakpoint-1500 = 1200

grid-max-cols = 12
grid-cols = 1 2 3 4 5 6 7 8 9 10 11 12

// change colum margins in each grid breakpoint
row-margin-300 = 30px 45px 60px

// ==
// Colors
// ==

gray-base = #000
gray-darker = lighten(gray-base, 13.5%) // #222
gray-dark = lighten(gray-base, 20%)   // #333
gray = lighten(gray-base, 33.5%) // #555
gray-light = lighten(gray-base, 46.7%) // #777
gray-lighter = lighten(gray-base, 93.5%) // #eee

brand-primary = #428bca
brand-success = #5cb85c
brand-info = #5bc0de
brand-warning = #f0ad4e
brand-danger = #d9534f

// ==
// Font
// ==

font-family-sans-serif =  "Helvetica Neue", Helvetica, Arial, sans-serif
font-family-serif = Georgia, "Times New Roman", Times, serif
font-family-monospace = Menlo, Monaco, Consolas, "Courier New", monospace

font-family-base = font-family-serif
font-weight-base = normal

// line-height is font-size + 4
font-size-huge = 23px
font-size-large = 18px
font-size-base = 16px
font-size-small = 14px
font-size-tiny = 12px 

line-height-over-font-size = 4px

// change text font-size in each grid breakpoint
font-size-large-300 = 15px
font-size-base-900 = 23px
font-size-huge-1500 = 37px

// if line-height aren't defined, default's heading font-size + 6
font-size-h1 = 50px
font-size-h2 = 37px
font-size-h3 = 28px
font-size-h4 = 23px
font-size-h5 = 16px
font-size-h6 = 12px

heading-line-height-over-font-size = 6

// change heading font-size and/or line-height in each grid breakpoint
font-size-h1-1500 = 150px
font-size-h4-300 = 23px
line-height-h4-300 = 23px

headings-font-family = font-family-sans-serif
headings-font-weight = 500
headings-color = inherit
headings-small-color = inherit

body-bg = #fff
text-color = gray-dark
link-color = brand-primary
link-hover-color = darken(link-color, 15%)
link-decoration = underline

// ==
// Buttons
// ==

btn-font-weight = normal
btn-text-transform = uppercase

btn-small-height = 30px
btn-base-height = 45px
btn-large-height = 60px
btn-small-font-size = 14px
btn-base-font-size = 16px
btn-large-font-size = 21px
btn-small-border-size = 0
btn-base-border-size = 0
btn-large-border-size = 0

btn-default-color = #333
btn-default-bg = #fff
btn-default-border = #ccc
btn-default-hover-color = #fff
btn-default-hover-bg = #000
btn-default-hover-border = #ccc

btn-primary-color = #fff
btn-primary-bg = brand-primary
btn-primary-border = darken(btn-primary-bg, 5%)
btn-primary-hover-color = #fff
btn-primary-hover-bg = brand-primary
btn-primary-hover-border = darken(btn-primary-bg, 5%)

btn-success-color = #fff
btn-success-bg = brand-success
btn-success-border = darken(btn-success-bg, 5%)
btn-success-hover-color = #fff
btn-success-hover-bg = brand-success
btn-success-hover-border = darken(btn-success-bg, 5%)

btn-info-color = #fff
btn-info-bg = brand-info
btn-info-border = darken(btn-info-bg, 5%)
btn-info-hover-color = #fff
btn-info-hover-bg = brand-info
btn-info-hover-border = darken(btn-info-bg, 5%)

btn-warning-color = #fff
btn-warning-bg = brand-warning
btn-warning-border = darken(btn-warning-bg, 5%)
btn-warning-hover-color = #fff
btn-warning-hover-bg = brand-warning
btn-warning-hover-border = darken(btn-warning-bg, 5%)

btn-danger-color = #fff
btn-danger-bg = brand-danger
btn-danger-border = darken(btn-danger-bg, 5%)
btn-danger-hover-color = #fff
btn-danger-hover-bg = brand-danger
btn-danger-hover-border = darken(btn-danger-bg, 5%)

btn-link-disabled-color = gray-light