// ==
// Colors
// ==

gray-base = #000
gray-darker = lighten(gray-base, 13.5%) // #222
gray-dark = lighten(gray-base, 20%)   // #333
gray = lighten(gray-base, 33.5%) // #555
gray-light = lighten(gray-base, 46.7%) // #777
gray-lighter = lighten(gray-base, 93.5%) // #eee

brand-primary = #428bca
brand-success = #5cb85c
brand-info = #5bc0de
brand-warning = #f0ad4e
brand-danger = #d9534f

// ==
// Grid sistem
// ==

grid-container-max-width = 1200px // Includes padding

grid-breakpoints = 300 600 900 1200 1500
grid-cols = 1 2 3 4 5 6 7 8 9 10 11 12

// ==
// Font
// ==

font-family-sans-serif =  "Helvetica Neue", Helvetica, Arial, sans-serif
font-family-serif = Georgia, "Times New Roman", Times, serif
font-family-monospace = Menlo, Monaco, Consolas, "Courier New", monospace

font-family-base = font-family-serif
font-weight-base = normal

font-size-huge = 23px
font-size-large = 18px
font-size-base = 16px
font-size-small = 14px
font-size-tiny = 12px

// if line-height aren't defined, default's heading font-size + 6
font-size-h1 = 50px
font-size-h1-1500 = 150px
font-size-h2 = 37px
font-size-h3 = 28px
font-size-h4 = 23px
font-size-h4-300 = 23px
line-height-h4-300 = 23px
font-size-h5 = 16px
font-size-h6 = 12px

headings-font-family = font-family-sans-serif
headings-font-weight = 500
headings-color = inherit
headings-small-color = inherit

body-bg = #fff
text-color = gray-dark
link-color = brand-primary
link-hover-color = darken(link-color, 15%)
link-decoration = underline

margin-base = 15px